#particles-js{
    height: 100vh;
}

.hero-image-block {
    position: absolute;
    text-align: center;
    top: 30%;
}

.content:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: -10px;
    z-index: -1;

    display: block;
    background-image: url('../assets/bg.jpg');
    height: 200vh;

    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    margin-left: 0;
    margin-right: 0;
}