.container
    display: flex
    flex-flow: column
    background-color: rgba(0, 0, 0, 0.16)

.main-content
    padding: 30px calc( 100% / 4 ) 30px calc( 100% / 4 )

.logo
    font-size: 1.64rem

.info-content
    font-size: 1rem

.copyright-container
    background-color: rgba(0, 0, 0, 0.16)

.sub-content
    padding: 15px calc( 100% / 4 ) 15px calc( 100% / 4 )

.sub-link
    color: #fff
    text-decoration: none
    font-weight: 700
