<footer class="container mat-elevation-z4">
  <div class="main-content">
      <p class="logo">Voidustries</p>
      <p class="info-content">
        We are a group of developers learning and working on multiple projects
        at multiple stages. Our experience ranges from self taught to post
        secondary educated and we are always looking for new members.
      </p>
  </div>
  <div class="copyright-container">
    <div class="sub-content">
        Made by
        <!-- TODO: Change this github link to an internal link to the developers page -->
        <a class="sub-link" href="https://github.com/StoneMonarch">Stone Monarch</a>
        With
        <a class="sub-link" href="https://material.angular.io/">Angluar</a>
    </div>
  </div>
</footer>
