<footer class="container mat-elevation-z4">
  <div class="main-content">
    <div class="info">
      <p class="logo">Voidustries</p>
      <p class="info-content">
        We are a community of developers learning from one another and helping
        on multiple projects and multiple stages. Our experience ranges from
        self taught to post secondary educated and we are always looking for new
        members.
      </p>
    </div>
    <div>
      <p class="connect-header">Connect</p>
      <mat-list>
        <a mat-list-item href="https://github.com/Voidustries">GitHub</a>
        <a mat-list-item href="projects.html">Projects</a>
      </mat-list>
    </div>
  </div>
  <div class="copyright-container">
    <div class="sub-content">
      <div class="copyright">
        Made by <a href="https://github.com/StoneMonarch">Stone Monarch</a> With
        <a href="https://material.angular.io/">Angluar</a>
      </div>
    </div>
  </div>
</footer>
