<mat-toolbar class="mat-elevation-z4">
  <div class="navbar-content-wrapper">
    <span class="nav-bar-item">Voidustries</span> <span class="spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <button class="nav-bar-item" mat-button href="#">Projects</button>
      <button class="nav-bar-item" mat-button href="#">Developers</button>
      <button class="nav-bar-item" mat-button href="#">GitHub</button>
    </div>
    <button mat-button fxShow="true" fxHide.gt-sm [matMenuTriggerFor]="menu">
      <mat-icon class="nav-bar-item">menu</mat-icon>
    </button>
    <mat-menu class="nav-menu" #menu="matMenu">
      <button class="nav-bar-item" mat-menu-item href="#">Projects</button>
      <button class="nav-bar-item" mat-menu-item href="#">Developers</button>
      <button class="nav-bar-item" mat-menu-item href="#">GitHub</button>
    </mat-menu>
  </div>
</mat-toolbar>

