<h1 mat-dialog-title>Through the Hole</h1>

<p>
    From here we are still not on the target network, but we are one step closer. Next <br>
    we need to move through the fire wall to a new network. Using the same method that <br>
    you used to discover this host, scan the `10.10.100.*` network for any hosts.
</p>
<p>
    Use the command `ssh blue@host_ip` to connect to the host.
</p>
<p>
    lastly we need to flag. Use `ls` to display the files. that being said, some might be hidden.
</p>

<mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Flag</mat-label>
        <input matInput placeholder="flag" [(ngModel)]="flagInput" />
        <mat-hint align="end">Inside a hidden file?</mat-hint>
      </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="submit()">Submit</button>
</mat-dialog-actions>