<h1 mat-dialog-title>Ingress</h1>
<p>The difficulty curve here is exponential. Not sorry. However this one is semi-easy</p>
<p>Connect to the remote development server and make sure to read thoroughly to capture the <b>flag</b>.</p>
<p>Oh yeah, ahha, really the challenge here is regenerate your SSH keys as those died along with <br>your chromebook. You'll need to give me (Josh) your public key to be able to complete this task.</p>
<mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Flag</mat-label>
        <input matInput placeholder="flag" [(ngModel)]="flagInput" />
        <mat-hint align="end">looks like a uuid v4</mat-hint>
      </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="submit()">Submit</button>
</mat-dialog-actions>