<p class="this-is-hidden-text">2f1d88a0-37a5-4385-bf0e-40c58daf296a</p>
<div class="content">
  <mat-card>
    <mat-card-title>Vault</mat-card-title>

    <mat-card-content>
        <div class="form-container">
      <mat-form-field class="form" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" [(ngModel)]="usernameField" />
      </mat-form-field>
      <mat-form-field class="form" appearance="outline">
        <mat-label>Password</mat-label>
        <input [type]="hidePasswordField ? 'password' : 'text'" matInput placeholder="Password" [(ngModel)]="passwordField"/>
        <button mat-icon-button matSuffix (click)="hidePasswordField = !hidePasswordField" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePasswordField">
            <mat-icon>{{hidePasswordField ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
      </mat-form-field>
    </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button (click)="unameHint()">Username Hint</button>
        <button mat-button (click)="passHint()">Password Hint</button>
        <div style="flex-grow: 100;"></div>
      <button mat-button (click)="login()">Unlock</button>
    </mat-card-actions>
  </mat-card>
</div>
